*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  font-family: Inter, sans-serif;
}

.glow-section {
  height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.glow-section__card {
  width: 240px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
  /* !!! */
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5px;
  background-color: rgb(128, 128, 128, 0.1); /* Correction ici */
}

.glow-section__top-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  height: 100%;
  font-size: 28px;
  background-color: rgb(26, 26, 26);
  transition: background-color 0.4s ease-out;
}

.glow-section__top-layer-text {
  color: #d2d2d2;
  margin-bottom: 36px;
}

@media (pointer: fine) {
  .glow-section__card:hover > .glow-section__top-layer {
    background: rgb(26, 26, 26, 0.8); /* Modification optionnelle */
  }
}

.glow-section__blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.8); /* Correction ici */
  background-image: linear-gradient(22.5deg, rgb(202, 162, 38) 0%, rgb(202, 162, 38) 30%,rgb(200, 172, 46) 30%, rgb(200, 172, 46) 41%,rgb(197, 183, 54) 41%, rgb(197, 183, 54) 51%,rgb(195, 193, 62) 51%, rgb(195, 193, 62) 56%,rgb(193, 203, 69) 56%, rgb(193, 203, 69) 83%,rgb(190, 214, 77) 83%, rgb(190, 214, 77) 95%,rgb(188, 224, 85) 95%, rgb(188, 224, 85) 100%),linear-gradient(0deg, rgb(202, 162, 38) 0%, rgb(202, 162, 38) 30%,rgb(200, 172, 46) 30%, rgb(200, 172, 46) 41%,rgb(197, 183, 54) 41%, rgb(197, 183, 54) 51%,rgb(195, 193, 62) 51%, rgb(195, 193, 62) 56%,rgb(193, 203, 69) 56%, rgb(193, 203, 69) 83%,rgb(190, 214, 77) 83%, rgb(190, 214, 77) 95%,rgb(188, 224, 85) 95%, rgb(188, 224, 85) 100%),linear-gradient(157.5deg, rgb(202, 162, 38) 0%, rgb(202, 162, 38) 30%,rgb(200, 172, 46) 30%, rgb(200, 172, 46) 41%,rgb(197, 183, 54) 41%, rgb(197, 183, 54) 51%,rgb(195, 193, 62) 51%, rgb(195, 193, 62) 56%,rgb(193, 203, 69) 56%, rgb(193, 203, 69) 83%,rgb(190, 214, 77) 83%, rgb(190, 214, 77) 95%,rgb(188, 224, 85) 95%, rgb(188, 224, 85) 100%),linear-gradient(90deg, rgb(197, 2, 127),rgb(52, 76, 85)); background-blend-mode:overlay,overlay,overlay,normal;
}
